
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: darkblue;
    --secondary-color: white;
    --text-dark: #333;
    --bg-light: #eee;
    --border-color: #000;
    --image-width: 150px;
    --padding-small: 10px;
    --padding-medium: 20px;
}


nav {
    background-color: var(--primary-color);
    padding: var(--padding-small);
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: var(--padding-medium);
}


h1 {
    color: var(--primary-color);
}


img {
    width: var(--image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


p {
    padding: var(--padding-small);
}


main {
    max-width: 840px;
}


aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--bg-light);
    color: var(--text-dark);
    text-align: center;
}


footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
