* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --secondary-color: white;
    --text-dark: #333;
    --bg-light: #eee;
    --border-color: #000;
    --image-width: 60px;
    --padding-small: 10px;
    --padding-medium: 20px;
}


body {
    font-size: 16px;
    font-family: roboto, sans-serif;
    background-color: var(--bg-light);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1 {
    border-bottom: 1px solid #222;
}

p {
    padding: 1rem;
}

img {
    width: var(--image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

nav {
   background-color: #042849;
   padding: 1rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   max-width: 840px;    
   margin: 0 auto;      
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}


header, footer {
    max-width: 840px;   
    margin: 0 auto;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 2rem 0;
}

main img {
    width: 10rem;
    height: auto;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

aside {
    width: 20rem;
    margin: 10px 0;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    align-self: start;   
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    margin-bottom: 10px;
}


footer { 
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}


.grid {
    display: grid;
    align-items: flex-start;  
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: 1fr 3fr;
    max-width: 840px;   
    margin: 0 auto;
}


.box {
    margin: 1rem;
    border: 1px solid #b71234;
    padding: 1rem;
    background-color: #cccaca;
    color: #000;
}

.ident {
    margin-left: 2rem;
}


ul {
    list-style: none;
    padding: 1rem;
}

a {
    color: #00f;
}
