
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: darkblue;
    --secondary-color: white;
    --text-dark: #333;
    --bg-light: #eee;
    --border-color: #000;
    --image-width: 150px;
    --padding-small: 10px;
    --padding-medium: 20px;
}


nav {
    background-color: var(--primary-color);
    padding: var(--padding-small);
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: var(--padding-medium);
}


h1 {
    color: var(--primary-color);
    padding: .5rem;
}


img {
    width: var(--image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
body {
    font-size: 16px;
    font-family: roboto, sans-serif;
}


p {
    padding: 0;
}

main {
    max-width: 840px;
}
main img{
    width: 150px;
    height: auto;
    float: right;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: static;
    margin-bottom: 10px;
}

footer { 
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
